/*
|--------------
|--- INJECTION
|--------------
*/
@font-face {
    font-family: "Berling";
    src: url(../ttf/Berling.ttf) format("truetype");
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 750px)	{
	#colC #sidebar2	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#colC #sidebar2 h2, #colC #sidebar2 h2{
		margin: 4px 6px;
		padding: 6px;
		width: 100%;
	}
	#colC #sidebar2 h3, #colC #sidebar2 h3{
		margin: 0px;
		padding: 6px;
		width: 100%;
	}
	#colC #sidebar2 div:not(#searchwrap):not(.mcps-badges)	{
		display: block;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 256px;
		width: 95%;
		margin: 0 auto 12px auto;
		border: 2px solid #080f6b;
		border-radius: 6px 0 0 28px;
		background-color: #f2f2f2;
	}
	#colC #sidebar2 .mcps-badges	{
		display: block;
		width: 95%;
		margin: auto;
		overflow: visible;
		height: 12px;
	}
	#colC #sidebar2 .mcps-badges a[href="http://www.montgomeryschoolsmd.org/schools/blakehs/news/indexnew.aspx?id=562769"],
	#colC #sidebar2 .events-btn	{
		display: none !important;
		height: 0px !important;
		width: 0px !important;
		overflow: hidden !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	img[alt="This Week At Blake Banner"]	{
		width: 100%;
	}
	h1#banner	{
		color: #FFF;
		background: #3f4c6b;
		background: -moz-linear-gradient(top, #20256a 0%, #080f6b 100%);
		background: -webkit-linear-gradient(top, #20256a 0%,#080f6b 100%);
		background: linear-gradient(to bottom, #20256a 0%,#080f6b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20256a', endColorstr='#080f6b',GradientType=0 );
		font-family: 'Berling', sans-serif;
		font-size:32px;
		text-transform:capitalize;
		padding:15px 5px 10px 5px;
	}
	h2#address	{
		background:#080f6b;
		color: #fff;
		}
	.slicknav_menu {
		font-size: 16px;
		box-sizing: border-box;
		background: #e9cb83;
		border-top:3px solid #fff;
		padding:5px; margin:0; }
	.slicknav_btn {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.slicknav_nav {
		color: #fff;
		background:#080f6b;
	}
	.slicknav_nav a:hover 	{
		background:#20256a;
	}
	#searchwrap	{
		background:#080f6b;
	}
	input {
    	background: #f2f2f2 none repeat scroll 0 0;
	}
	#searchwrap .searchbtn {
		position: relative;
		display: block;
		vertical-align: middle;
		float: right;
		padding: 0.438em 0.625em 0.438em 0.625em;
		line-height: 1.125em;
		cursor: pointer;
    	background: #222;
		color: #fff;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	#searchwrap .searchbtn:hover {
    	background: #222;
	}
	#colB #main-body #content div #news h2	{
		line-height: 15px;
		margin: 0px;
		color: #fff;
		background-color:#394987;
		padding: 5px 0px 5px 5px;
		background-color:#000102;
		border-bottom: 5px solid #e9cb83;
		font-size: 22px;
	}
	#news #ctl00_ContentPlaceHolder1_ListSummary1 ul li h4	{
		font-size: 24px !important;
	}
	#colB	{
		width: auto !important;
	}
	#sideNav {
		margin: 0px;
		padding: 0px;
		width: auto;
		padding: 8px;
		overflow: hidden;
	}
	#sideNav ul {
		width: 100%;
		padding: 0;
		margin: 0 0 8px 0;
		overflow: hidden;		
	}
	#sideNav ul li	{
		width: 110%;
	}
	#sideNav ul li ul li	{
		width: 100%;
	}
	#sideNav ul li ul li a	{
		width: auto!important;
	}
}
